@import '../variables';

.movie-list {
  background-color: $extra-light-grey;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: $big-size;

  .movie-poster {
    margin-bottom: $big-size;
  }
}
